Service References/WS_ARES_RZP/ares_answer_rzp_v_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:dtt="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.4" xmlns:are="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_rzp/v_1.0.4" xmlns:udt="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_rzp/v_1.0.4" version="2010-07-19" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.4/ares_datatypes_v_1.0.4.xsd" namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.4" />
  <xsd:import schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.1/uvis_datatypes_v_1.0.1.xsd" namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.1" />
  <xsd:annotation>
    <xsd:documentation>
Sch??ma pro v??pis z datab??ze ARES - Registr ??ivnostensk??ho podnik??n??
Verze 1.0.4
Copyright 2007-2009 Asseco Czech Republic, a.s. V??echna pr??va vyhrazena.
Copyright Asseco Central Europe, a.s. 2010

Tato odpov???? se vyp????e na verzi dotazu 1.0.5 (nebo o jednu verzi ni??????, pokud nebude po??adov??n v??pis ve zkratk??ch) v z??vislosti na zad??n?? v atributu answerNamespaceRequired.

Datov?? typ odpoved_RZP je zcela jin?? oproti sch??ma 1.0.1 nebo 1.0.3.

Pozn??mka:
ve ve??ejn?? verzi v??stupu  budou vypisov??ny pouze ??daje, kter?? jsou ve??ejn?? dle ??ivnostensk??ho z??kona ??. 455/1991 Sb. ve zn??n?? pozd??j????ch novelizac?? /viz. paragraf ??. 60/.
</xsd:documentation>
    <xsd:appinfo>
      <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.0/">
        <rdf:Description rdf:about="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_rzp/v_1.0.4">
          <dc:title>XML Schema s definic?? datov??ho typu pro v??pis r??p verze v_1.0.4</dc:title>
          <dc:creator>Pavel Srb (Pavel.Srb@asseco.cz)</dc:creator>
          <dc:creator>Asseco Czech Republic, a.s.</dc:creator>
          <dc:subject>XML Schema; r??p; datov?? typy ARES; ARES</dc:subject>
          <dc:description>N??vrh XML Schema s definic?? datov??ho typu pro v??pis r??p verze v_1.0.4</dc:description>
          <dc:publisher> Ministerstvo financ?? ??esk?? republiky </dc:publisher>
          <dc:date>2007-05-11</dc:date>
          <dc:type> XML Schema</dc:type>
          <dc:identifier>"http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_rzp/v_1.0.4/ares_answer_rzp_v_1.0.4.xsd"</dc:identifier>
          <dc:format>text/xml</dc:format>
          <dc:language>cz</dc:language>
          <dc:rights>?? Asseco Czech Republic, a.s. 2007-2009</dc:rights>
        </rdf:Description>
      </rdf:RDF>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Ares_odpovedi">
    <xsd:annotation>
      <xsd:documentation>Ko??enov?? element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Odpoved" type="dtt:odpoved_RZP" />
        <xsd:element minOccurs="0" name="Fault" type="dtt:chybova_odpoved" />
      </xsd:sequence>
      <xsd:attribute name="odpoved_datum_cas" type="xsd:dateTime" use="required" />
      <xsd:attribute name="odpoved_pocet" type="xsd:int" use="required" />
      <xsd:attribute fixed="Vypis_RZP" name="odpoved_typ" type="dtt:ares_dotaz_typ" />
      <xsd:attribute default="XML" name="vystup_format" type="dtt:vystup_format" use="optional" />
      <xsd:attribute default="klient" name="xslt" type="dtt:xslt_ks" use="optional" />
      <xsd:attribute name="validation_XSLT" type="xsd:string" use="required" />
      <xsd:attribute name="Id" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>